<!DOCTYPE html>
<html lang="en" ng-app="Cocoda">
    <head>
        <title>Cocoda - Concordance App</title>
        <meta charset="utf-8">
        <link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet" />
        <link href="src/ng-skos.css" rel="stylesheet" />
        <link href="src/cocoda.css" rel="stylesheet" />
            <!-- Used external sources -->
        <script src="lib/angular.min.js"></script>
        <script src="lib/angular-resource.min.js"></script>
        <script src="lib/angular-sanitize.min.js"></script>
        <script src="lib/ui-bootstrap-tpls-0.11.0.min.js"></script>
        <script src="lib/ng-suggest.js"></script>
        
            <!-- ng-skos modules -->
        <script src="src/json-text.js"></script>
        <script src="src/ng-skos.js"></script>
        <script src="src/services/SkosProvider.js"></script>
        <script src="src/services/SkosConceptProvider.js"></script>
        <script src="src/services/SkosConceptListProvider.js"></script>
        <script src="src/directives/skosLabel.js"></script>
        <script src="src/directives/skosConcept.js"></script>
        <script src="src/directives/skosTree.js"></script>
        <script src="src/directives/skosSearch.js"></script>
        <script src="src/directives/skosMappingCollection.js"></script>
        <script src="src/directives/skosMappingTable.js"></script>
        <script src="src/directives/skosOccurrences.js"></script>
        <script src="src/directives/skosConceptList.js"></script>
        <script src="src/directives/skosConceptMapping.js"></script>
        <!-- Controller -->
        <script src="cocoda.js"></script>
    </head>
    <body ng-controller="myController">
        <header>
            <nav class="navbar navbar-default navbar-top" role="navigation">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    </button>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li>
                            <a class="navbar-brand" href=""><big>Cocoda</big></a>
                        </li>
                    </ul>
                    <div id="login">
                        <a ng-click="loggedIn = !loggedIn" href="">
                            <span ng-if="!loggedIn">Log in</span>
                            <span ng-if="loggedIn">Log out</span>
                        </a>
                    </div>
                </div>
            </nav>
        </header>
        <div class="main">
            <div class="row">
        <!-- Left/Origin concept column-->
                <div class="col-md-3">
                    <div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <div class="mapping-header">
                                    <ul class="simple-list">
                                        <li class="dropdown">
                                            <a data-toggle="dropdown" type="button" class="dropdown-toggle">
                                                <span>Source Scheme: {{activeView.origin}}</span>
                                                <b class="caret"></b>
                                            </a>
                                            <ul class="dropdown-menu scheme-dropdown" role="menu">
                                                <li>
                                                    <a href="#" ng-click="setOrigin('')">none</a>
                                                </li>
                                                <li ng-repeat="s in schemes">
                                                    <a href="#" ng-click="setOrigin(s.name)">{{s.name}}</a>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div ng-if="activeView.origin.length" class="panel-body">
                                <input class="form-control"
                                        suggest-typeahead="SuggestConcept(activeView.origin)"
                                        typeahead-on-select="selectOriginSubject($item)"
                                        ng-model="originSubject"
                                        placeholder="Search by terms (typeahead)"
                                        typeahead-loading="loadingLocations"
                                        typeahead-editable="false"
                                        tabindex=1
                                />
                                <i ng-show="loadingLocations" class="glyphicon glyphicon-refresh typeahead-loading"></i>
                                <div class="search-top">
                                    <form ng-submit="reselectConcept('origin', originNotation)">
                                        <span style="float:left;">
                                            <input class="form-control search-top-input"
                                                ng-model="originNotation.notation"
                                                placeholder="Enter full notation"
                                                tabindex=3
                                            />
                                        </span>
                                        <input type="submit" value="Select" class="search-top-button" ng-disabled="!originNotation.notation.length" />
                                    </form>
                                </div>
                                <!-- Origin concept scheme template -->
                                <div ng-if="activeView.origin.length && originConcept">
                                    <div class="tmpl-border">
                                        <div>
                                            <div skos-concept="originConcept" skos-click="clickOriginConcept" language="language"></div>
                                            <span class="concept-buttons">
                                                <button ng-click="saveFrom(activeView.origin, originConcept)" title="Use term">
                                                    <span>Use</span>
                                                    <i class="glyphicon glyphicon-share-alt"></i>
                                                </button>
                                                <button disabled="true" ng-click="searchOccurrence(activeView.origin, originConcept)">
                                                    <span>Look up mappings</span>
                                                    <i class="glyphicon glyphicon-stats"></i>
                                                </button>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <!-- Origin top concept display -->
                        <div ng-if="activeView.origin.length && topOriginConcept">
                            <div ng-if="topOriginConcept" class="top-concept">
                                <accordion>
                                    <accordion-group is-open="showTopConcepts.origin">
                                        <accordion-heading>
                                            <b>Top Concepts</b>
                                            <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': showTopConcepts.origin, 'glyphicon-chevron-right': !showTopConcepts.origin}"></i>
                                        </accordion-heading>
                                        <ul ng-if="showTopConcepts.origin == true" class="simple-list">
                                            <li ng-repeat="v in topOriginConcept.values">
                                                <a style="text-decoration:none;" href="" ng-click="reselectConcept('origin', v)" title="Show concept">
                                                    <span class="notation" style="cursor:pointer;">{{v.notation}}</span>
                                                    <span>{{v.label}}</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </accordion-group>
                                </accordion>
                            </div>
                        </div>
                    </div>
                </div>
        <!-- Middle/Mapping and context column -->
                <div class="col-md-6">
                    <!-- Active mapping template -->
                    <div class="tmpl-border" style="width:100%;min-height:140px;">
                        <div skos-concept-mapping="currentMapping"
                            select="reselectConcept"
                            mapping-from="activeView.origin"
                            mapping-to="activeView.target"
                            save-mapping="loggedIn">
                        </div>
                    </div>
                    <!-- context templates -->
                    <div class="context">
                        <div class="context-body" style="overflow:hidden">
                            <!-- Existing mappings templates -->
                            <div style="float:left;">
                                <div ng-if="mappingSample" class="tmpl-border" style="">
                                    <div use-mapping="insertMapping" skos-mapping-collection="mappingSample"></div>
                                </div>
                            </div>
                        <!-- Occurrences display -->
                            <div ng-if="occurrencesSample" class="tmpl-border" style="float:right;margin-left:10px;">
                                <div style="overflow:auto" skos-occurrences="occurrencesSample" select-occurrence="insertMapping"></div>
                            </div>
                        </div>
                    </div>
                </div>
        <!-- Right/Target concept column-->
                <div class="col-md-3">
                    <div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                    <div class="mapping-header">
                                        <ul class="simple-list">
                                            <li class="dropdown">
                                                <a data-toggle="dropdown" type="button" class="dropdown-toggle">
                                                    <span>Target Scheme: {{activeView.target}}</span>
                                                    <b class="caret"></b>
                                                </a>
                                                <ul class="dropdown-menu scheme-dropdown" role="menu">
                                                    <li>
                                                        <a href="#" ng-click="setTarget('')">none</a>
                                                    </li>
                                                    <li ng-repeat="s in schemes">
                                                        <a href="#" ng-click="setTarget(s.name)" ng-if="s.name != activeView.origin">{{s.name}}</a>
                                                    </li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </div>
                            </div>
                            <div ng-if="activeView.target.length" class="panel-body">
                                <input class="form-control"
                                    suggest-typeahead="SuggestConcept(activeView.target)"
                                    typeahead-on-select="selectTargetSubject($item)"
                                    ng-model="targetSubject"
                                    placeholder="Search by terms (typeahead)"
                                    typeahead-loading="loadingLocations"
                                    typeahead-editable="false"
                                    tabindex=2
                                />
                                <i ng-show="loadingLocations" class="glyphicon glyphicon-refresh typeahead-loading"></i>
                                <div class="search-top">
                                    <form ng-submit="reselectConcept('target', targetNotation)">
                                        <span style="float:left;">
                                            <input class="form-control search-top-input"
                                                ng-model="targetNotation.notation"
                                                placeholder="Enter full notation"
                                                tabindex=4
                                            />
                                        </span>
                                        <input type="submit" value="Select" class="search-top-button" ng-disabled="!targetNotation.notation.length" />
                                    </form>
                                </div>
                                </div>
                                <!-- Target concept scheme template -->
                                <div ng-if="activeView.origin.length && targetConcept" style="min-width:350px">
                                    <div class="tmpl-border">
                                        <div>
                                            <div skos-concept="targetConcept" skos-click="clickTargetConcept" language="language"></div>
                                            <span class="concept-buttons">
                                                <button ng-disabled="checkDuplicate()" ng-click="addTo(activeView.target, targetConcept)" title="Add target term">
                                                    <span>Add</span>
                                                    <i class="glyphicon glyphicon-plus"></i>
                                                </button>
                                                <button ng-click="replaceTo(activeView.target, targetConcept)" title="Replace current terms">
                                                    <span>Replace all</span>
                                                    <i class="glyphicon glyphicon-share-alt"></i>
                                                </button>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                <!-- Target top concept display -->
                        <div ng-if="activeView.target.length">
                            <div ng-if="topTargetConcept" class="top-concept">
                                <accordion>
                                    <accordion-group is-open="showTopConcepts.target">
                                        <accordion-heading>
                                            <b>Top Concepts</b>
                                            <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': showTopConcepts.target, 'glyphicon-chevron-right': !showTopConcepts.target}"></i>
                                        </accordion-heading>
                                        <ul ng-if="showTopConcepts.target == true" class="simple-list">
                                            <li ng-repeat="v in topTargetConcept.values">
                                                <a style="text-decoration:none;" href="" ng-click="reselectConcept('target', v)" title="Show concept">
                                                    <span class="notation" style="cursor:pointer;">{{v.notation}}</span>
                                                    <span>{{v.label}}</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </accordion-group>
                                </accordion>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
