<!DOCTYPE html>
<html lang="en" ng-app="WikidataApp">
    <head>
        <title>Cocoda - Concordance App</title>
        <meta charset="utf-8">
        <link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet" />
        <link href="src/ng-skos.css" rel="stylesheet" />
        <link href="src/cocoda.css" rel="stylesheet" />
            <!-- Used external sources -->
        <script src="lib/angular/angular.min.js"></script>
        <script src="lib/angular-resource.min.js"></script>
        <script src="lib/angular-sanitize.min.js"></script>
        <script src="lib/ui-bootstrap-tpls-0.11.0.min.js"></script>
        <script src="lib/ng-suggest.js"></script>
        
            <!-- ng-skos modules -->
        <script src="src/json-text.js"></script>
        <script src="src/ng-skos.js"></script>
        <script src="src/services/SkosProvider.js"></script>
        <script src="src/services/SkosConceptProvider.js"></script>
        <script src="src/services/SkosConceptListProvider.js"></script>
        <script src="src/directives/skosLabel.js"></script>
        <script src="src/directives/skosConcept.js"></script>
        <script src="src/directives/skosTree.js"></script>
        <script src="src/directives/skosSearch.js"></script>
        <script src="src/directives/skosMappingCollection.js"></script>
        <script src="src/directives/skosMappingTable.js"></script>
        <script src="src/directives/skosOccurrences.js"></script>
        <script src="src/directives/skosConceptList.js"></script>
        <script src="src/directives/skosConceptMapping.js"></script>
        <!-- Controller -->
        <script src="WikidataScheme.js"></script>
        <script src="wikidata-app.js"></script>
    </head>
    <body ng-controller="myController">
        <div class="main">
            <div class="row" style="margin-left:0px;margin-right:0px;">
                <div class="col-md-3">
                    <div>
                        <div>
                          <span ng-if="suggestConcept">
                            <input class="form-control"
                                    suggest-typeahead="SuggestConcept(currentConcept)"
                                    typeahead-on-select="SelectConcept($item)"
                                    ng-model="currentConcept"
                                    placeholder="Search by terms (typeahead)"
                                    typeahead-loading="loadingLocations"
                                    typeahead-editable="false"
                            />
                            <i style="position:absolute;right:22px;top:45px;" ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></i>
                        </span>
                            <div class="search-top">
                                <form ng-submit="selectConceptByNotation(notation)">
                                    <span style="float:left;">
                                        <input class="form-control search-top-input"
                                            ng-model="notation"
                                            placeholder="Enter full notation"
                                        />
                                    </span>
                                    <input type="submit" value="Select" class="search-top-button" ng-disabled="!notation.length" />
                                </form>
                            </div>
                            <div skos-concept="currentConcept"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>    
