<table style="white-space:nowrap;" class="table table-hover table-condensed table-bordered">
    <thead>
        <tr>
            <th><span class="classification">{{mapping[0].from[0].inScheme.notation[0]}}</span></th>
            <th><span class="classification">{{mapping[0].to[0].inScheme.notation[0]}}</span></th>
            <th ng-if="type">
                <span style="margin-right:3px;">Type</span>
                <a ng-click="predicate = 'type.value';reverse = !reverse" href="" style="text-decoration:none;font-size:0.8em;">  
                    <span class="glyphicon glyphicon-sort"></span>
                </a>
            </th>
            <th>
                <span style="margin-right:3px;">Creator</span>
                <a ng-click="predicate = 'creator';reverse = !reverse" href="" style="text-decoration:none;font-size:0.8em;">
                    <span class="glyphicon glyphicon-sort"></span>
                </a>
            </th>
            <th style="width:100px;">
                <span style="margin-right:3px;">Date</span>
                <a ng-click="predicate = 'timestamp';reverse = !reverse" href="" style="text-decoration:none;font-size:0.8em;">
                    <span class="glyphicon glyphicon-sort"></span>
                </a>
            </th>
            <th ng-if="select"></th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="m in mapping | orderBy:predicate:reverse">
            <td>
                <ul class="simple-list" style="margin-bottom:0px">
                    <li ng-repeat="f in m.from">
                        <span class="notation" style="max-width:85px;white-space:nowrap;" popover="{{f.prefLabel.de}}" popover-trigger="mouseenter">{{f.notation[0]}}</span>
                    </li>
                </ul>
            </td>
            <td>
                <ul class="simple-list" style="margin-bottom:0px;margin-top:2px;">
                    <li ng-repeat="t in m.to">
                        <div class="skos-mapping-target" style="">
                            <span class="notation" popover="{{t.prefLabel.de}}" popover-trigger="mouseenter">{{t.notation[0]}}</span>
                            <a ng-if="lookup" title="Look up term" style="font-size:0.85em;cursor:pointer;vertical-align:middle;"><span ng-click="lookup(t)"><span style="top:2px;" class="glyphicon glyphicon-info-sign"></span></span></a>
                            <a ng-if="select" title="Add mapping term" style="font-size:0.85em;cursor:pointer;vertical-align:middle;"><span ng-click="select(t)"><span style="" class="glyphicon glyphicon-plus"></span></span></a>
                        </div>
                    </li>
                </ul>
            </td>
            <td ng-if="type">{{m.type.prefLabel.en}}</td>
            <td class="skos-mapping-cell" style="vertical-align:middle;"><span>{{m.creator}}</span></td>
            <td class="skos-mapping-cell" style="vertical-align:middle;max-width:100px;"><span>{{m.timestamp}}</span></td>
            <td ng-if="select" style="vertical-align:middle;" class="skos-mapping-cell">
                <a style="cursor:pointer" ng-click="select(m)" title="Select mapping">
                    <span class="glyphicon glyphicon-open"></span>
                </a>
            </td>
        </tr>
    </tbody>
</table>
