<div class="skos-concept">
    <div ng-if="uri" class="top top-alt">
        <span ng-if="notation" class="notation">{{notation[0]}}</span>
        <b><span skos-label="concept" lang="{{language}}"></span></b><a  ng-if="notation" class="uri" href="{{uri[0]}}">
        <span class="glyphicon glyphicon-globe"></span></a>
    </div>
    <div ng-if="altLabel.length" class="skos-altlabel">
        <ul>
            <li ng-repeat="alt in altLabel">
                <!-- TODO: Kommas -->
                <span ng-if="$index < 5" style="display:inline">{{alt}}</span>
                <span style="margin-left:-4px;margin-right:3px;" ng-if="$index < altLabel.length-1">, </span>
            </li>
        </ul>
    </div>
    <div ng-if="broader.length" class="skos-concept-relation">
        <ul ng-repeat="c in broader" ng-click="update(c);reload();">
            <li>
                &#8598; <span skos-label="c" lang="{{language}}"></span>
            </li>
        </ul>
    </div>
    <div ng-if="narrower.length" class="skos-concept-relation">
        <ul ng-repeat="c in narrower" ng-click="update(c);reload();">
            <li>
                &#8600; <span skos-label="c" lang="{{language}}"></span>
            </li>
        </ul>
    </div>
    <div ng-if="related.length" class="skos-concept-relation">
        <ul ng-repeat="c in related" ng-click="update(c);reload();">
            <li>
                &#10137; <span skos-label="c" lang="{{language}}"></span>
            </li>
        </ul>
    </div>
</div>