<accordion>
    <accordion-group is-open="status.open">
        <accordion-heading>
            <b>Catalog Occurrences</b><i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
        </accordion-heading>
        <div class="skos-occurrences">
            <div class="skos-occurrences occ-details">
                <table>
                    <tr>
                        <td>Used notation:</td><td><span ng-if="search.length" class="notation" popover="{{search[0].prefLabel.de}}" popover-trigger="mouseenter">{{search[0].notation[0]}}</span></td>
                    </tr>
                    <tr>
                        <td>Used database:</td><td><span ng-if="search.length" class="dbase"> {{database.notation[0]}}</td>
                    </tr>
                    <tr ng-if="search.length">
                        <td>Results (total) for 
                            <span ng-if="search.length" class="notation" popover="{{search[0].prefLabel.de}}" popover-trigger="mouseenter">{{search[0].notation[0]}}</span>:
                        </td>
                        <td>{{total}}</td>
                    </tr>
                </table>
            </div>
            <div class="skos-occurrences occ-results">
                Corresponding notations in <span ng-if="search.length" class="classification">{{target.notation[0]}}</span>:
                <table ng-if="search.length" class="table table-hover table-condensed table-bordered">
                    <thead>
                        <tr>
                            <th>Notation</th>
                            <th>Hits</th>
                            <th>% of total</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="not in hits">
                            <td>
                                <div style="width:100%;clear:both;">
                                    <span ng-if="not.length" class="notation" popover="{{not[0].prefLabel.de}}" popover-trigger="mouseenter">{{not[0].notation[0]}}</span>
                                    <span ng-click="lookup(not[0])" class="skos-link-icon"><span class="glyphicon glyphicon-info-sign"></span></span>
                                    <span ng-click="select(not[0])" class="skos-link-icon"><span class="glyphicon glyphicon-plus"></span></span>
                                </div>
                            </td>
                            <td>{{not[1]}}</td>
                            <td>{{not[1]/total*100 | number:1}} %</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </accordion-group>
</accordion>