<div>
    <div ng-if="!from.length && !to.length" style="margin-top:50px;margin-bottom:40px;text-align:center;">
        <alert type="danger" style="display:inline-block;">Please choose a concept scheme for mapping</alert>
    </div>
    <div ng-if="mapping.from.length && !from.length && !to.length" style="margin-top:10px;margin-bottom:5px;text-align:center;">
        <alert type="danger">Please choose a term to work on</alert>
    </div>
    <div ng-if="from.length || mapping.to[0].notation.length" style="width:100%;">
        <table style="width:95%;margin:0 auto;align:center;">
            <thead class="simple-list" style="text-align:center;">
                <tr>
                    <th style="width:400px;"></th><th style="width:24px"></th><th style="width:400px;text-align:right"></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <div class="tmpl-border mappingResults-from">
                            <div ng-if="mapping.from.length" 
                                skos-concept-list="mapping.from" 
                                on-select="selectFrom">
                            </div>
                            <div ng-if="!mapping.from.length">
                                <alert type="danger">Please select a source mapping term</alert>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div style="margin:30px auto">
                            <big><span class="glyphicon glyphicon-arrow-right"></span></big>
                        </div>
                    </td>
                    <td>
                        <div class="tmpl-border mappingResults-to" style="float:right;">
                            <div ng-if="mapping.to.length"
                                skos-concept-list="mapping.to" 
                                on-select="selectTo" >
                            </div>
                            <div ng-if="!mapping.to.length && mapping.from.length">
                                <alert style="margin-bottom:0px;" type="danger">Add target mapping terms (<span style="color:#428bca" class="glyphicon glyphicon-plus"></span>)</alert>
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div ng-if="from.length && to.length">
        <div style="width:95%;margin:0 auto;">
            <!--
            <div style="float:left;margin-bottom:5px;padding:4px;">
                <div>
                    <span style="margin-left:12px;">Choose mapping strength:</span>
                </div>
                <form style="margin-right:10px;display:inline">
                    <input style="margin: 0px 12px;" type="radio" name="strengthtype" ng-model="mapping.type.value" value="0">none</input>
                    <input style="margin: 0px 12px;" type="radio" name="strengthtype" ng-model="mapping.type.value" value="3">strong</input>
                    <input style="margin: 0px 12px;" type="radio" name="strengthtype" ng-model="mapping.type.value" value="2">medium</input>
                    <input style="margin: 0px 12px;" type="radio" name="strengthtype" ng-model="mapping.type.value" value="1">weak</input>
                </form>
            </div>
            -->
            <div style="float:right;margin-top:10px;">
                <button ng-if="save" ng-click="saveMapping()" ng-disabled="!mapping.from.length || !mapping.to.length" title="Save current mapping" accesskey="s">
                    <span style="margin-right:5px;">Save</span>
                    <span class="glyphicon glyphicon-save"></span>
                </button>
            </div>
            <div ng-if="mapping.to.length" style="float:right;margin-top:10px;margin-right:10px;">
                <button ng-click="clearTargets()" title="Clear all target mappings" accesskey="c">
                    <span style="margin-right:5px;">Clear all</span>
                    <span class="glyphicon glyphicon-remove"></span>
                </button>
            </div>
            <div ng-if="mapping.timestamp && mapping.to.length" style="float:right;margin-top:13px;margin-right:15px;">
                Created: <span>{{mapping.timestamp}}</span>
            </div>
            <div ng-if="saved" style="float:left;margin-top:5px;">
	      <alert type="success">Mapping Saved!</alert>
            </div>
        </div>
    </div>
</div>
