<div class="skos-concept">
    <div ng-if="uri || notation" class="top top-alt">
        <span ng-if="notation" class="notation">{{notation[0]}}</span>
        <b><span skos-label="concept" lang="{{language}}"></span></b><a  ng-if="uri != notation" class="uri" href="{{uri}}" target="_blank">
        <span class="glyphicon glyphicon-globe"></span></a>
    </div>
    <div class="skos-concept-connected">
        <div class="skos-concept-altlabel">
            <ul>
                <li ng-repeat="alt in altLabel">
                    <span ng-if="$index < 5" style="display:inline">{{alt}}</span>
                    <span style="margin-left:-4px;margin-right:3px;" ng-if="$index < 4 && $index < altLabel.length-1">, </span>
                </li>
            </ul>
        </div>
        <div ng-if="broader.length" class="skos-concept-relation">
            <ul ng-repeat="c in broader">
                <li>
                    &#8598; <span skos-label="c" lang="{{language}}" ng-click="click(c)"></span>
                </li>
            </ul>
        </div>
        <div ng-if="narrower.length" class="skos-concept-relation">
            <ul ng-repeat="c in narrower">
                <li>
                    &#8600; <span skos-label="c" lang="{{language}}" ng-click="click(c)"></span>
                </li>
            </ul>
        </div>
        <div ng-if="related.length" class="skos-concept-relation">
            <ul ng-repeat="c in related">
                <li>
                    &#10137; <span skos-label="c" lang="{{language}}" ng-click="click(c)"></span>
                </li>
            </ul>
        </div>
        <div ng-if="note">
            Note: <em>{{note.en[0]}}</em>
        </div>
    </div>
</div>
