<div class="skos-concept">
    <div class="top top-alt">
        <span ng-if="notation.length" class="notation">{{notation[0]}}</span>
        <b>
            <span ng-if="prefLabel" skos-label="concept" lang="{{language}}"></span>
        </b>
        <a ng-if="uri && uri != notation" class="uri" href="{{uri}}">
            <span class="glyphicon glyphicon-globe"></span>
        </a>
    </div>
    <!-- TODO: use language, too -->
    <div ng-if="altLabel.length" class="skos-concept-altlabel">
        <ul>
            <li ng-repeat="alt in altLabel">
                <span ng-if="$index < 5" style="display:inline">{{alt}}</span>
                <span style="margin-left:-4px;margin-right:3px;" ng-if="$index < 4 && $index < altLabel.length-1">, </span>
            </li>
        </ul>
    </div>
    <div ng-if="broader.length || narrower.length || related.length" class="skos-concept-connected">
        <div ng-if="broader.length" class="skos-concept-relation skos-concept-relation-broader">
            <ul ng-repeat="c in broader">
                <li>
                    <span skos-label="c" lang="{{language}}" ng-click="click(c)" title="{{c.notation[0]}}"></span>
                </li>
            </ul>
        </div>
        <div ng-if="narrower.length" class="skos-concept-relation skos-concept-relation-narrower">
            <ul ng-repeat="c in narrower">
                <li>
                    <span skos-label="c" lang="{{language}}" ng-click="click(c)" title="{{c.notation[0]}}"></span>
                </li>
            </ul>
        </div>
        <div ng-if="related.length" class="skos-concept-relation skos-concept-relation-related">
            <ul ng-repeat="c in related">
                <li>
                    <span skos-label="c" lang="{{language}}" ng-click="click(c)" title="{{c.notation[0]}}"></span>
                </li>
            </ul>
        </div>
    </div>
    <!-- TODO: select by language, only show a limited number -->
    <div ng-if="!isEmptyObject(note)" style="margin-top:10px;">
        <div ng-repeat="note in note.en" 
            style="width:100%;padding:4px 6px;border:1px solid #ddd;margin-top:8px;">
            <em>{{note}}</em>
        </div>
    </div>
</div>
