<div ng-repeat="s in mappings">
    <span ng-repeat="(skey, source) in s">
        <span style="font-variant:small-caps;"><big><b>{{skey}}</b></big></span>
            <div ng-repeat="f in source">
                <span ng-repeat="(fkey, from) in f">
                        <span ng-repeat="t in from">
                            <span ng-repeat="(tkey, to) in t">
                                <div skos-mapping-table="to" select-mapping="useMapping"></div>
                            </span>
                        </span>
                </span>
            </div>
    </span>
</div>