<div>
    <div ng-if="!from.length" style="margin-top:50px;text-align:center;">
        <em>Please choose a concept scheme for mapping</em>
    </div>
    <div ng-if="from.length && !to.length" style="margin-top:50px;text-align:center;">
        <em>Please choose a concept scheme to map to</em>
    </div>
    <div ng-if="from.length && to.length && !mapping.from.length && !mapping.to.length" style="margin-top:50px;text-align:center;">
        <em>Please search for terms in the current concept schemes</em>
    </div>
    <div ng-if="mapping.from && !from.length && !to.length" style="margin-top:50px;text-align:center;">
        <em>Please choose a term to work on</em>
    </div>
    <div ng-if="mapping.from[0].notation.length || mapping.to[0].notation.length" style="width:100%;">
        <div style="width:95%;margin:0 auto;">
            <ul style="text-align:center;list-style-type:none;padding-left:0px;">
                <li>
                    Mapping from <span class="classification">{{from}}</span> to <span class="classification">{{to}}</span>
                </li>
            </ul>
            <div class="mappingResults">
                <div class="tmpl-border mappingResults-from"  style="float:left;">
                    <div skos-concept-list="mapping.from" on-delete="remove" current-role="origin" on-select="select"></div>
                </div>

                <div class="tmpl-border mappingResults-to" style="float:right;">
                    <div skos-concept-list="mapping.to" on-delete="remove" current-role="target" on-select="select"></div>
                </div>
            </div>
            <div class="mappingResults-icon">
                <big><span class="glyphicon glyphicon-arrow-right"></span></big>
            </div>
        </div>
    </div>
</div>
