<table style="white-space:nowrap;" class="table table-hover table-striped table-condensed table-bordered">
    <thead>
        <tr>
            <th><span class="classification">{{mapping[0].from[0].inScheme.notation[0]}}</span></th>
            <th><span class="classification">{{mapping[0].to[0].inScheme.notation[0]}}</span></th>
            <th><span>Type</span><a href="" style="text-decoration:none" ng-click="predicate = 'type.value';reverse = !reverse">  <small><span class="glyphicon glyphicon-sort"></span></small></a></th>
            <th><span>Date</span><a href="" style="text-decoration:none" ng-click="predicate = 'timestamp';reverse = !reverse">  <small><span class="glyphicon glyphicon-sort"></span></small></a></th>
            <th ng-if="select">Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="m in mapping | orderBy:predicate:reverse">
            <td>
                <ul class="simple-list" style="margin-bottom:0px">
                    <li ng-repeat="f in m.from">
                        <span class="notation" popover="{{f.prefLabel.de}}" popover-trigger="mouseenter">{{f.notation[0]}}</span>
                    </li>
                </ul>
            </td>
            <td>
                <ul class="simple-list" style="margin-bottom:0px">
                    <li ng-repeat="t in m.to">
                        <span class="notation" popover="{{t.prefLabel.de}}" popover-trigger="mouseenter">{{t.notation[0]}}</span>
                    </li>
                </ul>
            </td>
            <td>{{m.type.prefLabel.en}}</td>
            <td>{{m.timestamp}}</td>
            <td ng-if="select" style="text-align:center">
                    <a style="cursor:pointer" ng-click="select(m)"><span class="glyphicon glyphicon-check"></span></a>
            </td>
        </tr>
    </tbody>
</table>
