<accordion>
    <accordion-group is-open="status.open" class="panel-cocoda">
        <accordion-heading>
            <b>Catalog Occurrences</b><i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
        </accordion-heading>
        <div class="skos-occurrences">
            <div class="skos-occurrences occ-details">
                <ul class="simple-list">
                    <li>
                        <span>Used notation:</span><span ng-if="search.length" class="notation occurrence-result" popover="{{popOverTitle(search[0].prefLabel)}}" popover-trigger="mouseenter">{{search[0].notation[0]}}</span>
                    </li>
                    <li>
                        <span>Used database:</span><span ng-if="search.length" class="dbase occurrence-result">{{database.notation[0]}}</span>
                    </li>
                    <li ng-if="search.length">
                        <span>Results (total) for 
                            <span ng-if="search.length" class="notation" popover="{{popOverTitle(search[0].prefLabel)}}" popover-trigger="mouseenter">{{search[0].notation[0]}}</span>:
                        </span>
                        <span>
                        {{total}}
                        </span>
                    </li>
                </ul>
            </div>
            <div class="skos-occurrences occ-results">
                Corresponding notations in <span ng-if="search.length" class="classification">{{target.notation[0]}}</span>:
                <table ng-if="search.length" class="table table-hover table-condensed table-bordered" style="margin:5px 0px;">
                    <thead>
                        <tr>
                            <th>Notation</th>
                            <th>Hits</th>
                            <th>% of total</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="not in hits">
                            <td>
                                <div style="width:100%;clear:both;">
                                    <span ng-if="not.length" class="notation" popover="{{popOverTitle(not[0].prefLabel)}}" popover-trigger="mouseenter">{{not[0].notation[0]}}</span>
                                    <a ng-if="lookup" title="Look up term" class="action-icon">
                                        <span ng-click="lookup(not[0])" class="skos-link-icon" title="Look up notation">
                                            <span class="glyphicon glyphicon-info-sign"></span>
                                        </span>
                                    </a>
                                    <a ng-if="select" title="Add mapping term" class="action-icon">
                                        <span ng-click="select(not[0])" class="skos-link-icon" title="Select concept">
                                            <span class="glyphicon glyphicon-plus"></span>
                                        </span>
                                    </a>
                                </div>
                            </td>
                            <td>{{not[1]}}</td>
                            <td>{{not[1]/total*100 | number:1}} %</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </accordion-group>
</accordion>