body{
	padding-top:40px;
}
#header{
	margin-top:75px;
	height:35px;
}
.fixnav {
	padding-top:40px;
}
.notation{
	background-color:lightgrey;
	border-radius:3px;
	padding-left:3px;
	padding-right:3px;
}
.classification{
	background-color:#E6E681;
	border-radius:3px;
	padding-left:3px;
	padding-right:3px;
}
.concept {
  border: 2px solid #999;
	border-radius:5px;
	padding-left: 20px;
	padding-right:20px;
	width:450px;
	padding-bottom:5px;
	padding-top:10px;
	margin-bottom:10px;
}
.concept table{
	margin-top:10px;
	margin-bottom:10px;
} 
.concept td {
	padding:4px;
}
.concept-classic td:hover {
	background-color:lightgrey;
	border-radius:3px;
}
.concept-classic td{
	text-decoration:underline; 
	cursor:pointer; 
}
.concept-alt td:hover {
	background-color:lightgrey;
	border-radius:3px;
}
.concept-alt td{
	text-decoration:none;
	cursor:pointer;
}
.concept-alt .broader span,.concept-alt .narrower span, .concept-alt .related span{
	color:#803A22;
	font-weight:bold;
}
.top-alt{
	font-weight:bold;
}
.top-alt .notation{
	color:dimgrey;‎
	font-family:times;
}
.top-alt .notation:after{
	content:" :";
}
.concept-tree .node li{
	color:#803A22;
	font-weight:bold;
	list-style-type:none;
}
.concept-occ td, .concept-occ th{
	border:1px solid #999;
	padding-left:10px;
	padding-right:10px;
}
.concept-occ ul{
	margin-top:5px;
	margin-left:-15px;
	list-style-type:none;
	color:#803A22;
	font-weight:bold;
}
.concept-mapp .mappingResults table{
	table-layout:fixed;
	text-align:center;
}
.concept-mapp .mappingResults td{
	padding-left:20px;
	padding-right:20px;
}
.concept-mapp .mappingFoot table{
	table-layout:auto;
	margin-left:40px; 
}
.concept-mapp .mappingFoot td{
	padding-left:10px;
	padding-right:10px;  
}
ul.ancestors { 
	padding:0; 
}
ul.ancestors li {
	display: inline;
	cursor:pointer;
}

.ancestors li:after {
	font-size:small;
	color:#999;
	content: " > ";
}
.ancestors span:hover {
	background-color:lightgrey;
}
.broader, .narrower, .related{
	margin-top:10px;
	margin-left:10px;
}
.smpl{
	margin-top:25px;
	padding-top:1px;
	padding-left:50px;
	padding-bottom:20px;
	border-radius:4px;
}
.smpl textarea{
	border-radius: 0px 3px 0px 0px;
	background-color:#F7F7F7;
}
#footer{
	position:relative;
	height:85px;
}
/* show language attribute after element */
.show-lang:after {
	content: "@" attr(lang);
	color: #999;
	padding-left: 2px;
}
.nav, .pagination, .carousel, .panel-title a { 
	cursor: pointer;
}
