<ul ng-if="ancestors.length" class="ancestors">
	<li ng-repeat="a in ancestors" ng-click="update(a);reload();">
		<span skos-label="a" lang="{{language}}"/>
	</li>
</ul>
<div class="top top-classic">
	<span ng-if="notation.length" class="notation">{{notation}}</span>
	<b><span skos-label="concept" lang="{{language}}"/></b><a class="uri" href="{{uri}}"><span class="glyphicon glyphicon-globe"></span></a>
</div>
<div ng-if="broader.length" class="broader">
  BT:
  <table>
    <tr ng-repeat="c in broader" ng-click="update(c);reload();">
      <td><span skos-label="c" lang="{{language}}"/></td>
    </tr>
  </table>
</div>
<div ng-if="narrower.length" class="narrower">
  NT:
  <table>
    <tr ng-repeat="c in narrower" ng-click="update(c);reload();">
      <td><span skos-label="c" lang="{{language}}"/></td>
    </tr>
  </table>
</div>
<div ng-if="related.length" class="related">
  RT:
  <table>
    <tr ng-repeat="c in related" ng-click="update(c);reload();">
      <td><span skos-label="c" lang="{{language}}"/></td>
    </tr>
  </table>
</div>
