
/* SKOS-label */
/* show language attribute after element */
.simple-list{
    list-style-type:none;
    padding:0px;
}

.show-lang:after {
    content: "@" attr(lang);
    color: #999;
    padding-left: 2px;
}
.nav, .pagination, .carousel, .panel-title a { 
    cursor: pointer;
}
.affix,.navbar-fixed-top{
-webkit-transform: scale3d(1,1,1);
}
.search-top{
    margin: 0px 0px 10px 0px;
    overflow:hidden;
}
.search-top:after{
    clear:both;
}
.search-top-button{
    float:left;
    margin:10px 0px 10px 10px;
    padding:5px 3px;
    width:80px;
}
.search-top-input{
    margin:10px 0px;
}
.mapping-header{
    background-color:#EEE;
    padding:0px 5px;
    margin-bottom:5px;
    width:100%;
    text-align:center;
}
.mapping-header a{
    color:#333;
    cursor:pointer;
}
.context{
    margin-top:10px;
    width:100%;
}
