<!DOCTYPE html>
<html lang="en" ng-app="Cocoda">
<head>
    <meta charset="utf-8">
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet" />
    <link href="ng-skos.css" rel="stylesheet" />
    <link href="cocoda.css" rel="stylesheet" />
</head>
<body ng-controller="myController">
    <header>
        <nav class="navbar navbar-default navbar-top" role="navigation">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Cocoda</a>
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                </button>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a data-toggle="dropdown" type="button" class="dropdown-toggle">
                            Source Scheme: {{activeView.origin}}
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            <li>
                                <a href="#" ng-click="setOrigin('')">none</a>
                            </li>
                            <li>
                                <a href="#" ng-click="setOrigin('GND')">GND</a>
                            </li>
                            <li>
                                <a href="#" ng-click="setOrigin('RVK')">RVK</a>
                            </li>
                        </ul>
                    </li>
                </ul>
                <div ng-if="activeView.origin.length" class="col-md-3" style="margin-top:8px;">
                    <input class="form-control"
                        suggest-typeahead="SubjectOriginSuggest(activeView.origin)"
                        typeahead-on-select="selectOriginSubject($item)"
                        ng-model="originSubject"
                        placeholder="Search"
                        typeahead-loading="loadingLocations"
                        typeahead-editable="false"
                    />
                    <i ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></i>
                </div>
                <ul ng-if="activeView.origin.length" class="nav navbar-nav">
                    <li class="dropdown">
                        <a data-toggle="dropdown" type="button" class="dropdown-toggle">
                            Target Scheme: {{activeView.target}}
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            <li>
                                <a href="#" ng-click="setTarget('')">none</a>
                            </li>
                            <li>
                                <a href="#" ng-if="activeView.origin != 'GND'" ng-click="setTarget('GND')">GND</a>
                            </li>
                            <li>
                                <a href="#" ng-if="activeView.origin != 'RVK'" ng-click="setTarget('RVK')">RVK</a>
                            </li>
                        </ul>
                    </li>
                </ul>
                <div ng-if="activeView.target.length" class="col-md-3" style="margin-top:8px;">
                    <input class="form-control"
                        suggest-typeahead="SubjectTargetSuggest(activeView.target)"
                        typeahead-on-select="selectTargetSubject($item)"
                        ng-model="targetSubject"
                        placeholder="Search"
                        typeahead-loading="loadingLocations"
                        typeahead-editable="false"
                    />
                    <i ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></i>
                </div>
            </div>
        </nav>
    </header>
    <div class="main">
        <div class="row">
            <div class="col-md-3">
                <div style="margin-left:15px;">
                    <div ng-if="activeView.origin.length && originConcept">
                        <div class="tmpl-border" skos-concept="originConcept" skos-click="clickOriginConcept" language="language"></div>
                        <div style="margin-bottom:5px;">
                            <button ng-click="saveFrom(activeView.origin, originConcept)">Use term</button>
                            <button disabled="true" ng-click="searchOccurrence(activeView.origin, originConcept)">Look up mappings</button>
                        </div>
                    </div>
                    <div ng-if="activeView.origin == 'DDC' || activeView.origin == 'RVK'" class="tmpl-border">
                        <ul style="list-style-type:none;padding:0px">
                            <li ng-repeat="v in rvkTop.values">
                                <a style="text-decoration:none;" href="#" ng-click="reselectConcept('origin', v)"><span class="notation">{{v.uri}}</span>  <span>{{v.label}}</span></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="tmpl-border" style="width:100%">
                    <div skos-concept-mapping="currentMapping" select="reselectConcept" mapping-from="activeView.origin" mapping-to="activeView.target"></div>
                </div>
                <div style="margin-top:30px;">
                    <div style="">
                        <div class="tmpl-border" use-mapping="insertMapping" skos-mapping-collection="mappingSample"></div>
                        <div class="tmpl-border">
                            <div style="background-color:#EEE;padding-left:5px;margin-bottom:5px;"><b>GND - DDC Cross Concordance</b></div>
                            <div skos-mapping-collection="mappingSampleGND"></div>
                        </div>
                    </div>
                    <div style="margin-right:30px;" class="tmpl-border" skos-occurrences="occurrencesSample"></div>
                </div>
            </div>
            <div class="col-md-3">
                <div style="width:400px;margin-right:15px;">
                    <div ng-if="activeView.origin.length && targetConcept" style="min-width:350px">
                        <div class="tmpl-border" skos-concept="targetConcept" skos-click="clickTargetConcept" language="language"></div>
                        <div style="margin-bottom:5px;">
                            <button ng-click="addTo(activeView.target, targetConcept)">Add target term</button>
                            <button ng-click="replaceTo(activeView.target, targetConcept)">Replace current terms</button>
                        </div>
                    </div>
                    <div ng-if="activeView.target == 'DDC' || activeView.target == 'RVK'" class="tmpl-border">
                        <ul style="list-style-type:none;padding:0px">
                            <li ng-repeat="v in rvkTop.values">
                                <a style="text-decoration:none;" href="#" ng-click="reselectConcept('target', v)"><span class="notation">{{v.uri}}</span>  <span>{{v.label}}</span></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="lib/angular.min.js"></script>
    <script src="lib/angular-resource.min.js"></script>
    <script src="lib/angular-sanitize.min.js"></script>
    <script src="demo.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.11.0/ui-bootstrap.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.11.0/ui-bootstrap-tpls.min.js"></script>
</body>
    <script src="../lib/ng-suggest.js"></script>
    <script src="../src/json-text.js"></script>
    <script src="../src/ng-skos.js"></script>
    <script src="../src/services/SkosProvider.js"></script>
    <script src="../src/services/SkosConceptProvider.js"></script>
    <script src="../src/services/SkosConceptListProvider.js"></script>
    <script src="../src/directives/skosLabel.js"></script>
    <script src="../src/directives/skosConcept.js"></script>
    <script src="../src/directives/skosTree.js"></script>
    <script src="../src/directives/skosSearch.js"></script>
    <script src="../src/directives/skosMappingCollection.js"></script>
    <script src="../src/directives/skosMappingTable.js"></script>
    <script src="../src/directives/skosOccurrences.js"></script>
    <script src="../src/directives/skosConceptList.js"></script>
    <script src="../src/directives/skosConceptMapping.js"></script>
    
    <script src="cocoda.js"></script>
</html>
