.nav, .pagination, .carousel, .panel-title a { 
    cursor: pointer;
}
.suggest-item{
    border-bottom:1px solid #ccc;
    padding:5px;
}
.suggest-item:hover{
    background-color:#428bca;
    color:white;
    cursor:pointer;
}
.suggest-item-label{
    border-bottom:none;
    padding:0px;
    margin:0px;
}
.suggest-item-description{
    border-bottom:none;
    padding:0px;
    font-style:italic;
    margin:0px;
}
.tmpl-border {
    border: 1px solid #999;
    padding:10px 20px 5px 20px;
    margin:5px 0px 10px 0px;
}