.concept {
    border: 1px solid #666;
}
ul.ancestors { padding:0; }
ul.ancestors li {
    display: inline;
}
.ancestors li::after {
    content: " > ";
}

ul.broader {

} 

ul.narrower {

}

/* show language attribute after element */
.show-lang:after {
    content: "@" attr(lang);
    color: #999;
    padding-left: 2px;
}

