body{
    padding-top:40px;
}
#header{
    margin-top:75px;
    height:35px;
}
.fixnav {
    padding-top:30px;
}
/* label styles */

.notation{
    background-color:lightgrey;
    border-radius:3px;
    padding-left:3px;
    padding-right:3px;
    color:black;
    cursor:default;
}
.classification{
    background-color:#E6E681;
    border-radius:3px;
    padding-left:3px;
    padding-right:3px;
}
.dbase{
    background-color:#B6D3FC;
    border-radius:3px;
    padding-left:3px;
    padding-right:3px;
}
.uri{
    padding-left:20px;
}
/* SKOS-label */
/* show language attribute after element */

.show-lang:after {
    content: "@" attr(lang);
    color: #999;
    padding-left: 2px;
}
/* SKOS-concept */

.concept {
    border: 1px solid #999;
    width:450px;
    padding:10px 20px 5px 20px;
    margin:5px 0px 10px 0px;
}
.concept table{
    margin-bottom:10px;
} 
.concept td {
    padding:4px;
}
.concept-label ul{
    list-style-type:none;
}
ul.ancestors{
    padding-left:0px;
}
ul.ancestors li {
    display:inline;
    cursor:pointer;
    margin-bottom:10px;
}
.ancestor span{
    padding-right:3px;
}
.ancestor:before {
    font-size:small;
    color:#999;
    content: " > ";
    font-weight:bold;
}
.ancestor li:after{
    content: " > ";
    font-weight:bold;
    font-size:small;
}
.ancestors span:hover {
    background-color:lightgrey;
}
.broader, .narrower, .related{
}
/* Thesaurus SKOS-concept view */
.concept-classic ul{
    margin:3px;
}
.concept-classic li:hover {
    background-color:lightgrey;
    border-radius:3px;
    cursor:pointer;
}
.concept-classic .broader li, .concept-classic .narrower li, .concept-classic .related li{
    list-style-type:none;
    text-decoration:underline;
    margin-left:-25px;
    padding:1px 3px 1px 3px;
    display:inline-block;
}
.top-classic{
    margin-bottom:10px;
    margin-top:10px;
    border:1px solid #ddd;
    padding:0px 3px 0px 3px;
    border-radius:3px;
    background-color:#eee;
    display:inline-block;
}
/* Alternative SKOS-concept view */
.concept-alt ul{
    list-style-type:none;
    margin-bottom:5px;
}
.concept-alt li:hover {
    background-color:lightgrey;
    border-radius:3px;
}
.concept-alt li{
    text-decoration:none;
    cursor:pointer;
    margin-left:-36px;
    display:inline-block;
    padding: 0px 4px 0px 4px;
}
.concept-alt .broader span,.concept-alt .narrower span, .concept-alt .related span{
    color:#803A22;
    font-weight:bold;
}
.top-alt{
    margin-bottom:10px;
}
/* SKOS-tree */

.concept-tree ul{
    list-style-type:none;
}
.concept-tree ul{
    margin-left:-10px;
}
.concept-tree li{
}
.set{
    display:inline;
    border-radius:3px;
    padding-right:3px;
}
.set:hover{
    display:inline;
    border:1px solid #ddd;
}
.nlabel{
    color:#803A22;
    font-weight:bold;
    cursor:pointer;
}
/* SKOS-occurences */
.concept-occ table{
    margin-top:5px;
}
.occ-details td{
    border:1px solid none;
    padding: 3px 7px 3px 7px;
}

/* SKOS-mapping */

.mapping-label{
    margin-bottom: 10px;
}
.mappingResults-from{
    float:left;
    margin-left:40px;
    width:100px;
    display:inline-block;
    padding:3px;
}
.mappingResults-from ul{
    padding:3px 4px 3px 0px;
}
.mappingResults-icon{
    float:left;
    padding: 35px 20px 35px 20px;
}
.mappingResults-to{
    float:left;
    margin-left:30px;
    padding:3px;
}
.mappingResults-to ul{
    padding:3px 4px 3px 0px;
}
.concept-mapp .mlabel{
    padding-left:30px;
    color:#666;
    font-weight:bold;
}
.concept-mapp .mappingResults ul{
    list-style-type:none;
}
.concept-mapp .mappingResults li{
    list-style-type:none;
    margin-left:0px;
}
.concept-mapp .mappingFoot{
    clear:left;
}
.concept-mapp .mappingFoot span{
    margin-right:5px; 
}
.concept-mapp .mappingFoot ul{
    list-style-type:none;
}

/* Sample boxes */

.smpl{
    margin-top:25px;
    padding-top:1px;
    padding-left:50px;
    padding-bottom:20px;
    border-radius:4px;
}
.smpl textarea{
    border-radius: 0px 3px 0px 0px;
    background-color:#F7F7F7;
}
#footer{
    background-color:lightgrey;
    margin-top:60px;
    padding-top:60px;
    position:relative;
    height:200px;
    text-align:center;
    border-top:1px dotted #666;
}
.nav, .pagination, .carousel, .panel-title a { 
    cursor: pointer;
}
.affix,.navbar-fixed-top{
-webkit-transform: scale3d(1,1,1);
}