body{
    padding-top: 40px; }
    
@media (max-width:990px) {
    body { padding-top: 155px; }
}
#header{
    margin-top:75px;
    height:35px;
}
.fixnav {
    padding-top:30px;
}
.tmpl-border {
    border: 1px solid #999;
    padding:10px 20px 5px 20px;
    margin:5px 0px 10px 0px;
    display:inline-block;
}
/* SKOS-label */
/* show language attribute after element */

.show-lang:after {
    content: "@" attr(lang);
    color: #999;
    padding-left: 2px;
}
/* Sample boxes */

.smpl{
    margin-top:25px;
    padding-top:1px;
    padding-left:50px;
    padding-bottom:20px;
    border-radius:4px;
}
.smpl textarea{
    border-radius: 0px 3px 0px 0px;
    background-color:#F7F7F7;
}
#footer{
    background-color:lightgrey;
    margin-top:60px;
    padding-top:60px;
    position:relative;
    height:200px;
    text-align:center;
    border-top:1px dotted #666;
}
.nav, .pagination, .carousel, .panel-title a { 
    cursor: pointer;
}
.affix,.navbar-fixed-top{
-webkit-transform: scale3d(1,1,1);
}