<!DOCTYPE html>
<html lang="en" ng-app="cocodaDemo">
<head>
  <meta charset="utf-8">
  <title>ng-skos demo application</title>
  <link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet" />
  <link href="ng-skos.css" rel="stylesheet" />
  <link href="demo.css" rel="stylesheet" />
</head>
<body ng-controller="myController">
<header>
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">ng-skos</a>
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                </button>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a data-toggle="dropdown" type="button" class="dropdown-toggle">
                            Jump to directive
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            <li>
                                <a href="#label" target="_self">Label</a>
                            </li>
                            <li>
                                <a href="#concept" target="_self">Concept</a>
                            </li>
                            <li>
                                <a href="#search" target="_self">Search</a>
                            </li>
                            <li>
                                <a href="#tree" target="_self">Tree</a>
                            </li>
                            <li>
                                <a href="#mapping" target="_self">Mapping</a>
                            </li>
                            <li>
                                <a href="#occurrences" target="_self">Occurrences</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div> 
    </nav>
</header>
<div class="main">
    <div class="container">
        <section id="label"  class="fixnav">
            <div class="page-header">
                <h2>skos-label</h2>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <p>
                        Used as attribute to emit the preferred label of a concept. The lang
                        attribute of the directive element is read and set accordingly. If
                        no label of the required language exists, another language is selected.
                    </p>
                    <div class="concept-label">
                        <ul>
                            <li><span skos-label="sampleConcept" lang="de" class="show-lang"/></li>
                            <li><span skos-label="sampleConcept" lang="en" class="show-lang"/></li>
                            <li><span skos-label="sampleConcept" class="show-lang"/></li>
                            <li><span skos-label="sampleConcept" lang="fr" class="show-lang"/></li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <section id="concept" class="fixnav">
            <div class="page-header">
                <h2>skos-concept</h2>
            </div>
            <div class="row">
                <div class="col-md-5">
                    <p>
                        Used as element or attribute to display a concept.
                    </p>
                    <p>
                        <select ng-model="language">
                            <option>de</option>
                            <option>en</option>
                        </select>
                        Language: {{language}}
                    </p>
                    <div class="tmpl-border" skos-concept="sampleConcept" language="language" template-url="template/skos-concept-thesaurus.html">
                    </div>
                </div>
                <div class="col-md-1">
                </div>
                <div class="col-md-5">
                    <p>
                        The element content can be used to control how the concept is shown:
                    </p>
                    <div class="tmpl-border" skos-concept="sampleConcept" language="language">
                    </div>
                    <p>
                        Interactive elements can be added, for instance to 
                        change the concept on clicks by loading from a cocoda 
                        server...(TODO)
                    </p>
                </div>
                <div class="col-md-1">
                </div>
            </div>
            <div class="row">
            </div>
        </section>
        <section id="search" class="fixnav">
            <div class="page-header">
                <h2>skos-search</h2>
            </div>
            <div class="row">
                <div class="col-md-5">
                    <div class="tmpl-border" skos-search="searchSample">
                    </div>
                </div>
                <div class="col-md-1">
                </div>
                <div class="col-md-6">
                    ...documentation...
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="smpl">
                        <h3>Sample Search</h3>
                        <textarea json-text cols="40" rows="15" ng-model="searchSample"></textarea>
                    </div>
                </div>
            </div>
        </section>
        <section id="tree" class="fixnav">
            <div class="page-header">
                <h2>skos-tree</h2>
            </div>
            <div class="row">
                <div class="col-md-5">
                    <div class="tmpl-border" skos-tree="treeSample">
                    </div>
                </div>
                <div class="col-md-1">
                </div>
                <div class="col-md-6">
                    This directive implements a way to present dynamically loaded content in a tree view. (TODO, currently static placeholder)
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="smpl">
                        <h3>Sample Tree</h3> 
                        <textarea json-text cols="40" rows="15" ng-model="treeSample"></textarea>
                    </div>
                </div>
            </div>
        </section>
        <section id="mapping" class="fixnav">
            <div class="page-header">
                <h2>skos-mapping-collection</h2>
            </div>
            <div class="row">
                <div class="col-md-5">
                    <div class="tmpl-border" skos-mapping-collection="mappingSample" use-mapping="insertMapping">
                    </div>
                </div>
                <div class="col-md-1">
                </div>
                <div class="col-md-6">
                <b>skosMappingCollection</b> is a directive for displaying a collection of existing mappings between the notations of different concept schemes. In this example, the used template sorts the mappings into lists and passes those on to <b>skosMappingTable</b>, which displays each table structure.
                <br>
                The directive also supports an additional parameter "use-mapping", with which a function controlling the selection of a mapping in the "Actions" column can be handled.
                
                <div style="margin-top:10px;">
                    <div><b>Current mapping:</b></div>
                    <div ng-if="currentMapping.from.length || currentMapping.to.length" class="tmpl-border" style="padding:12px">{{currentMapping}}</div>
                    <div ng-if="!currentMapping.from.length && !currentMapping.to.length">
                        <span>Please select a mapping to display its contents</span>
                    </div>
                </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="smpl">
                        <h3>Sample Mapping</h3>
                        <textarea json-text cols="40" rows="15" ng-model="mappingSample"></textarea>
                    </div>
                </div>
            </div>
        </section>
        <section id="occurrences" class="fixnav">
            <div class="page-header">
                <h2>skos-occurrences</h2>
            </div>
            <div class="row">
                <div class="col-md-5">
                    <div class="tmpl-border" skos-occurrences="occurrencesSample">...
                    </div>
                </div>
                <div class="col-md-1">
                </div>
                <div class="col-md-6">
                    <b>skosOccurrences</b> is a directive for displaying results of a search in catalogues for specific notations of one concept scheme and the corresponding notations in another scheme.
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="smpl">
                        <h3>Sample Occurrences</h3>
                        <p><textarea json-text cols="40" rows="15" ng-model="occurrencesSample"></textarea></p>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
<div id="footer">
    <p>
        This demo page is using parts of the <a href="http://angular-ui.github.io/bootstrap/">AngularJS Bootstrap UI</a> and <a href="http://getbootstrap.com/">Bootstrap CSS</a>
    </p>
    <p>
        Glyphicons courtesy of <a href="http://glyphicons.com/">Glyphicons.com</a>
    </p>
</div>
    <script src="lib/angular.min.js"></script>
    <script src="lib/angular-resource.min.js"></script>
    <script src="lib/angular-sanitize.min.js"></script>
    <script src="demo.js"></script>
    <script src="../lib/ui-bootstrap-tpls-0.11.0.min.js"></script>

    <script src="../src/json-text.js"></script>
    <script src="../src/ng-skos.js"></script>
    <script src="../src/services/SkosConceptProvider.js"></script>
    <script src="../src/services/SkosProvider.js"></script>
    <script src="../src/directives/skosLabel.js"></script>
    <script src="../src/directives/skosConcept.js"></script>
    <script src="../src/directives/skosTree.js"></script>
    <script src="../src/directives/skosSearch.js"></script>
    <script src="../src/directives/skosMappingCollection.js"></script>
    <script src="../src/directives/skosMappingTable.js"></script>
    <script src="../src/directives/skosOccurrences.js"></script>
</body>
</html>
