<!doctype html>
<html lang="en" ng-app="cocodaDemo">
<head>
  <meta charset="utf-8">
  <title>ng-skos demo application</title>
  <link rel="stylesheet" href="demo.css">
</head>
<body>

<h1>Directives</h1>

<h2>skos-label</h2>
<p>
  Used as attribute to emit the preferred label of a concept. The lang
  attribute of the directive element is read and set accordingly. If
  no label of the required language exists, another language is selected.
</p>
<p>
  <ul>
    <li><span skos-label="sampleConcept" lang="de" class="show-lang"/></li>
    <li><span skos-label="sampleConcept" lang="en" class="show-lang"/></li>
    <li><span skos-label="sampleConcept" class="show-lang"/></li>
    <li><span skos-label="sampleConcept" lang="fr" class="show-lang"/></li>
  </ul>
</p>

<h2>skos-concept</h2>
<p>
  Used as element or attribute to display a concept.
</p>

<p>
  <select ng-model="language">
    <option>de</option>
    <option>en</option>
  </select>
  Language: {{language}}
</p>
<div skos-concept="sampleConcept" class="concept" language="language">
  <ul ng-if="ancestors.length" class="ancestors">
    <li ng-repeat="a in ancestors" ng-click="update(a);reload();">
      <span skos-label="a" lang2="{{language}}"/>
    </li>
  </ul>
  <span>{{notation}}</span>
  <b><span skos-label="concept" lang="{{language}}"/></b>
  <div ng-if="broader.length" class="broader">
    BT:
    <ul>
      <li ng-repeat="c in broader" ng-click="update(c);reload();">
        <span skos-label="c" lang="{{language}}"/>
      </li>
    </ul>
  </div>
  <div ng-if="narrower.length" class="narrower">
    NT:
    <ul>
      <li ng-repeat="c in narrower" ng-click="update(c);reload();">
        <span skos-label="c" lang="{{language}}"/>
      </li>
    </ul>
  </div>
  <div ng-if="related.length" class="related">
    RT:
    <ul>
      <li ng-repeat="c in related" ng-click="update(c);reload();">
        <span skos-label="c" lang="{{language}}"/>
      </li>
    </ul>
  </div>
  <small>lang: {{language}}</small>
</div>
<p>
  The element content can be used to control how the concept is shown:

  <div skos-concept="sampleConcept" class="concept">
    {{notation}}: <i>{{prefLabel.en}}</i>
  </div>
</p>

<p>
  Interactive elements can be added, for instance to 
  change the concept on clicks by loading from a cocoda 
  server...(TODO)
</p>

<hr>

<h1>Sample Concept</h1>
<textarea json-text ng-model="sampleConcept" cols=40 rows=20></textarea>

<hr>

<script src="lib/angular.min.js"></script>
<script src="lib/angular-resource.min.js"></script>
<script src="lib/angular-sanitize.min.js"></script>
<script src="demo.js"></script>

<script src="../src/json-text.js"></script>
<script src="../src/ng-skos.js"></script>
<script src="../src/directives/skosLabel.js"></script>
<script src="../src/directives/skosConcept.js"></script>

</body>
</html>
