<!DOCTYPE html>
<html ng-app="myApp">
    <head>
        <!-- CSS -->
        <link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet" />
        <link href="ng-skos.css" rel="stylesheet" />
        <link href="skos-suggest.css" rel="stylesheet" />
    </head>
    
    <body ng-controller="myController">
    <div class="container">
        <div style="margin-top:20px" class="row">
            <div class="col-md-4">
                <b>Select GND subject (German):</b>
                <div>
                    <input class="form-control"
                        suggest-typeahead="gndSubjectSuggest"
                        typeahead-on-select="selectGndSubject($item)"
                        ng-model="gndSubject"
                        placeholder="Search"
                        typeahead-loading="loadingLocations"
                    />
                    <i ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></i>
                </div>
                <div class="tmpl-border" skos-concept="subjectConcept" skos-click="clickConcept">
                </div>
            </div>
            <div class="col-md-4">
                <div>
                    <h3>Some examplary GND-terms</h3>
                    <ul style="list-style-type:none">
                        <li>
                            <a style="cursor:pointer" ng-click="selectSampleConcept('Kernkraftwerk','http://d-nb.info/gnd/4030329-9')">Kernkraftwerk</a>
                        </li>
                        <li>
                            <a style="cursor:pointer" ng-click="selectSampleConcept('Stadtteil','http://d-nb.info/gnd/4077814-9')">Stadtteil</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    </body>

    <!-- libraries -->
    <script src="lib/angular.min.js"></script>
    <script src="lib/angular-resource.min.js"></script>
    <script src="lib/angular-sanitize.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.11.0/ui-bootstrap.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.11.0/ui-bootstrap-tpls.min.js
"></script>
    <script src="../lib/ng-suggest.js"></script>

    <!-- ng-skos -->
    <script src="../src/ng-skos.js"></script>
    <script src="../src/services/SkosConceptProvider.js"></script>
    <script src="../src/directives/skosLabel.js"></script>
    <script src="../src/directives/skosConcept.js"></script>
    <script src="../src/directives/skosMapping.js"></script>
    <script src="../src/directives/skosTree.js"></script>

    <!-- app -->
    <script src="skos-suggest.js"></script>

</html>
