/* Basic CSS for ng-skos default templates */
/* in order of their occurrence in the demo */


/* label styles */
/* styles for identifiers */

/*  icon-style for notations*/
.notation{
    background-color:lightgrey;
    border-radius:3px;
    padding-left:3px;
    padding-right:3px;
    color:black;
    cursor:default;
    text-decoration:none;
}
/*  icon-style for concept-schemes */
.classification{
    background-color:#E6E681;
    border-radius:3px;
    padding-left:3px;
    padding-right:3px;
}
/*  icon-style for databases */
.dbase{
    background-color:#B6D3FC;
    border-radius:3px;
    padding-left:3px;
    padding-right:3px;
}
/*  uri-link style*/
.uri{
    padding-left:20px;
}
.uri:hover{
    text-decoration:none;
}
/* SKOS-concept */

/* ancestor styles */

/* 'skos-concept-thesaurus' template styles  */
/*  template also uses: .notation, .uri */

ul.ancestors{
    padding-left:0px;
}
ul.ancestors li {
    display:inline;
    cursor:pointer;
    margin-bottom:10px;
}
.ancestor span{
    padding-right:3px;
}
.ancestor:before {
    font-size:small;
    color:#999;
    content: " > ";
    font-weight:bold;
}
.ancestors li:after{
    content: " > ";
    font-weight:bold;
    font-size:small;
}
.skos-concept-thesaurus ul{
    margin:3px;
    list-style-type:none;
    padding-left:0px;
}
.skos-concept-thesaurus li:hover {
    background-color:lightgrey;
    border-radius:3px;
    cursor:pointer;
}
.skos-concept-thesaurus-relation li{
    text-decoration:underline;
    padding:1px 3px 1px 3px;
    display:inline-block;
}
.top-classic{
    margin-bottom:10px;
    margin-top:10px;
    border:1px solid #ddd;
    padding:0px 3px 0px 3px;
    border-radius:3px;
    background-color:#eee;
    display:inline-block;
}
/* 'skos-concept' template styles */
/*  template also uses: .notation, .uri */
.skos-concept-connected{
    max-height:220px;
    overflow:scroll;
}

.skos-concept ul{
    list-style-type:none;
    margin-bottom:5px;
    padding-left:0px;
}
.skos-concept li{
    display:inline-block;
}
/* 'skos-concept' altLabel display*/
.skos-concept-altlabel{
    margin-bottom:5px;
    font-style:italic;
}
/* 'skos-concept' relations (broader, narrower, related) display*/
.skos-concept-relation li:hover {
    background-color:lightgrey;
    border-radius:3px;
}
.skos-concept-relation li{
    text-decoration:none;
    cursor:pointer;
    display:inline-block;
    padding: 0px 4px 0px 4px;
}
.skos-concept-relation span{
    color:#803A22;
    font-weight:bold;
}
/* styles for header, containing notation, prefLabel and uri-link */
.top-alt{
    margin-bottom:10px;
}
/* SKOS-search*/

/* SKOS-tree */
/*  template also uses: .notation*/

.skos-tree ul{
    list-style-type:none;
    padding-left:30px;
}
.skos-tree li{
    padding-right:8px;
}
/* style for a single node */
.set{
    display:inline-table;
    border-radius:3px;
    padding-right:3px;
    margin-right:10px;
}
.set:hover{
    background-color:#eee;
}
/* style for the label of a node*/
.nlabel{
    color:#803A22;
    font-weight:bold;
    cursor:pointer;
    margin-left:3px;
}

/* skos-mapping */
/* template also uses: .notation, .classification */

.mapping-label{
    margin-bottom: 10px;
}
.mappingResults{
    position:relative;
    list-style-type:none;
}
.mappingResults-from{
    float:left;
    display:inline-block;
    margin-bottom:10px;
}
.mappingResults-from ul{
    padding:3px 4px 3px 0px;
}
.mappingResults .mappingResults-icon{
}
.mappingResults-icon{
    margin: 10px auto;
}
.mappingResults-to{
    margin-bottom:10px;
}
.mappingResults-to ul{
    padding:3px 4px 3px 0px;
}
.skos-mapping .mlabel{
    color:#666;
    font-weight:bold;
}
.mappingResults ul{
    list-style-type:none;
}
.mappingResults li{
    margin-left:0px;
}
.mappingFoot{

    clear:right;
}
.mappingFoot span{
    margin-right:5px; 
}
.mappingFoot ul{
    list-style-type:none;
    -webkit-padding-start: 0;
    padding-left:0px;
}
/* SKOS-occurences */
/* template also uses: .notation, .classification, .dbase */

.skos-occurrences{
    min-width:200px;
}

.skos-occurrences table{
    margin-top:5px;
    margin-bottom:10px;
    width:auto;
    min-width:300px;
}
.skos-occurrences td, .skos-occurrences th {
    padding:3px 10px 3px 5px;
}
.occ-details td{
    border:1px solid none;
    padding: 3px 7px 3px 7px;
}



